.main{
  text-align:center;
  background-color:white;
  margin:80px;
  padding:10px;
}
h1{
  font-size:25px;
}
body{
  background-color:pink;
}
#number{
  margin-bottom:30px;
}
#convert-btn{
  background-color:lightblue;
  cursor:pointer;
}
